.App {
  text-align: center;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px auto;
  width: 35%;
  border: 2px double red;
  padding: 10px;
}

.flex-container p,
.flex-container button{
  flex: 1;
}

button{
  cursor: pointer;
  padding: 2px;
  background: linear-gradient(120deg, silver, gray);
}

button:hover{
  opacity: 0.9;
}

input[type=checkbox]{
  cursor: pointer;
}